@import "../variables.scss";

.about::before {
   content: "";
   display: block;
   height: $nav-height;
}

.about {
   height: 100%;
   padding-inline: clamp(10px, 1.3vw, 40px);
   color: black;

   &_content {
      background-color: rgba(240, 248, 255, 0.933);
      border-radius: 20px;
      max-width: 1050px;
      padding: clamp(25px, 5vw, 50px) clamp(15px, 5vw, 50px);
      margin-inline: auto;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
         font-size: clamp(2rem, 8vw, 2.6rem);
         text-align: center;
      }

      .text_content {
         margin-top: clamp(20px, 5vw, 55px);

         h2 {
            font-size: clamp(1.5rem, 7vw, 2rem);
            text-align: center;
         }

         p {
            font-size: clamp(1rem, 5vw, 1.4rem);

            &:first-of-type {
               margin-top: 15px;
            }
         }

         ul {
            max-width: 600px;
            margin-left: 20px;
            margin-top: 20px;

            li {
               margin-bottom: 5px;
               font-size: clamp(1rem, 5vw, 1.4rem);
            }
         }
      }
   }

}

@media (max-width: 600px) {}