.close_button {
  position: absolute;
  top: 4%;
  right: 6%;

  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
  &:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
  }
}
